* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #120219;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 500px;
    
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #f0f0f0;
}

.video-section {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

video {
    width: 100%;
    max-width: 500px;
    background-color: #333;
    border-radius: 10px;
}

.audio-meter {
    height: 20px;
    width: 100%;
    max-width: 500px;
    background-color: #333;
    border-radius: 5px;
    margin: 10px auto 20px;
    position: relative;
}

.meter-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.icon-button {
    background-color: #120219;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-button:hover {
    background-color: #333;
}

#recordedVideoSection {
    margin-top: 20px;
}

#recordedVideo {
    width: 100%;
    max-width: 500px;
    background-color: #333;
    border-radius: 10px;
}

.hidden {
    display: none;
}
