* {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #555;
  }
  
  .controls {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #webcamContainer {
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
    height: 350px;
    background-color: #e6e6e6;
  }
  
  #recorded {
    margin-top: 20px;
    width: 600px;
    max-width: 100%;
  }
  
  #audioMeter {
    height: 10px;
    background-color: #e0e0e0;
    margin: 20px 0;
    width: 50%;
    border-radius: 5px;
}
  
  #audioLevel {
    height: 100%;
    width: 0;
    background-color: #28a745;
    border-radius: 5px;
  }
  